@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&display=swap');

html {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: #353535;
}

a:hover {
    color: #118DFF;
}

.a_icon {
    z-index: 10;
    padding-left: 320px;
    width: 40px;
}

hr {
    border-top: 1px solid #8B8B8B;
    width: 90%;
}

.content {
    width: 100%;
    height: 661px;
    overflow: auto;
}

.list_container {
    /*margin-top: 20px;*/
}

.list {
    width: 100%;
    height: 100%;
    padding-top: 65px;
    overflow: auto;
}

.list_item {
    padding: 12px 18px 12px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_title {
    font-size: 20px;
    width: 33%;
    text-align: center;
}

.list_datetime {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    width: 33%;
}

.list_date {
    padding-bottom: 4px;
}

.list_time {
    padding-top: 4px;
}

.list_person {
    width: 33%;
    font-size: 14px;
    text-align: right;
}

.list_exercise_name {
    font-size: 20px;
}

.list_exercise_details {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.list_exercise_details {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.list_exercise_details.longer {
    margin-left: 175px;
}

.list_exercise_details.longer1 {
    margin-left: 195px;
}

.list_exercise_description_title {
    font-size: 20px;
}

.list_exercise_image {
    width: 233px;
    height: 98px;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.list_exercise_image > img {
    width: 100%;
    border-radius: 5px;
}

.exercise_box {
    width: 56px;
    height: 56px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.exercise{
    width: 26px;
    height: 26px;
    border-radius: 5px;
}

.exercise > img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.exercise1 {
    background-color: #FFB2B2;
}

.exercise2 {
    background-color: #8B8B8B;
}

.exercise3 {
    background-color: #FF7272;
}

.exercise4 {
    background-color: orange;
}

.title_bg {
    width: 100%;
    height: 70px;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
}

.title {
    font-size: 24px;
    margin-left: 10px;
    letter-spacing: 4px;
    position: fixed;
    width: 100%;
}

.layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iphone {
    width: 375px;
    height: 812px;
    position: relative;
}

.header {
    font-family: 'Paytone One', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    background-image: url("../img/banner_bg.png");
    background-size: cover;
}

.footer {
    width: 100%;
    height: 66px;
    background-color: #FAFAFA;
    bottom: 0;
    left: 0;
    position: absolute;
}

.footer_container {
    height: 100%;
    padding-left:  20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active {
    color: #118DFF;
}

.material-icons {
    font-size: 35px;
}

#add {
    font-size: 40px;
    color: orange;
}

.footer_text {
    font-size: 12px;
}