.hamburger_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 15px #a5a5a5;
    position: fixed;
    right: 0;
    margin: 10px;
    z-index: 5;
}

.map_bg {
    position: relative;
    overflow-x: scroll;
    min-height: 680px;
}

.map {
    background-image: url("../img/pokemongo_bg.jpg");
    background-size: cover;
    width: 259%;
    height: 100%;
    opacity: 0.7;
}

.avatartext {
    background-color: white;
    border-radius: 4px;
    position: fixed;
    top: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-left: 50px;
}

.avatar {
    z-index: 2;
    background-image: url("../img/avatar.png");
    background-size: contain;
    width: 120px;
    height: 120px;
    margin-bottom: 180px;
    margin-right: 160px;
    position: fixed;
    top: 70%;
    left: 55%;
}

.room_location_circle {
    width: 150px;
    border-radius: 50%;
    height: 150px;
    background-image: url("../img/location_circle.png");
    z-index: 0;
    background-size: cover;
}

.room_title {
    text-align: center;
}

.exerciseroom {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#room0 {
    position: absolute;
    left: -3%;
    top: 10%;
}

#room1 {
    position: absolute;
    left: 20%;
    top: 39%;
    width: 125px;
}

#room2 {
    position: absolute;
    top: 0%;
    width: 146px;
    left: 209%;
}

#room3 {
    position: absolute;
    top: 12%;
    width: 83px;
    left: 69%;
}

#room4 {
    position: absolute;
    top: 34%;
    width: 125px;
    left: 96%;
}

#room5 {
    position: absolute;
    top: 43%;
    width: 80px;
    left: 146%;
}

#room6 {
    position: absolute;
    top: 11%;
    width: 85px;
    left: 170%;
}

#room7 {
    position: absolute;
    top: 39%;
    width: 97px;
    left: 207%;
}

#room8 {
    position: absolute;
    top: 1%;
    width: 95px;
    left: 133%;
}

.room_text {
    background-color: white;
    border-radius: 10px;
    position: relative;
    width: 110%;
    height: 100px;
    font-size: 1em;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ham_preview {
    z-index:1;
    width: 40%;
    position: relative;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    opacity:1;
    transform: translate(-60%, -60%);
}

.present {
    top: 66px;
    left: 81px;
}

.seed {
    width: 30px;
}

.joinbutton {
    color: white;
    background-color: #118DFF;
    position: relative;
    padding: 10px 15px;
    border: none;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.joinbutton:hover {
    background-color: #0e78d9;
}

.list_friends_details {
    width: 35px;
    height: 35px;
}

.list_item {
    padding: 3px 18px 3px 18px;
}

.list_friends {
    font-size: 24px;
    letter-spacing: 2px;
}

.list_invite {
    text-align: right;
}

.list_invite_decision {
    width: 150px;
    display: flex;
    justify-content: flex-end;
}

.check_icon {
    width: 30px;
}

.x_icon {
    width: 30px;
    margin-left: 12px;
}

#check {
    color: #27AE60;
}

#x {
    color: #EB5757;
}

#fixed {
    /*position: fixed;*/
}