.map_bg {
    position: relative;
    overflow-x: scroll;
    min-height: 680px;
}

.map {
    background-image: url("../img/pokemongo_bg.jpg");
    background-size: cover;
    width: 200%;
    height: 100%;
    opacity: 0.7;
}

.iphone {
    /*overflow-x: scroll;*/
}


.avatartext {
    background-color: white;

    border-radius: 4px;
    position: fixed;
    top: 80%;
    margin: 0 auto;

    padding: 20px;
    margin-left: 50px;

}

.avatar {
    z-index: 2;
    background-image: url("../img/avatar.png");
    background-size: contain;
    width: 120px;
    height: 120px;
    margin-bottom: 180px;
    margin-right: 160px;
    position: fixed;
    top: 70%;
    left: 55%;
}


.room_location_circle {

    width: 100%;
    border-radius: 50%;
    height: 100%;
    /*border: 5px solid #FFEE58;*/
    background-image:url("../img/location_circle.png");
    /*background: rgb(255,255,255);*/
    /*background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(118,230,232,1) 38%); */
    z-index: 0;
    background-size: cover;
}

#room1 {
    position: absolute;
    left: 20%;
    top: 30%;
    width: 125px;
    height: 125px;
}



#room2 {
    position: absolute;
    top: 40%;
    width: 100px;
    height: 100px;
    left: 125%;
    
}

#room3 {
    position: absolute;
    top: 20%;
    width: 80px;
    height: 80px;
    left: 95%;


}

#room4 {
    position: absolute;
    top: 40%;
    width: 125px;
    height: 125px;
    left: 75%;


}

#room5 {
    position: absolute;
    top: 55%;
    width: 80px;
    height: 80px;
    left: 155%;


}

#room6 {
    position: absolute;
    top: 25%;
    width: 70px;
    height: 70px;
    left: 170%;


}
.room_text {
    padding: 5px;
    background-color: white;
    border-radius: 3px;
    position:relative;
    /*margin: 0 auto;*/
    text-align: center;
    width: 110%;
    height: 60%;
    font-size: 1em;
    border: 1px solid #bbb;

}

.room_text {

    font-size: 0.8em;

}

.ham_preview {
    z-index:1;
    width: 40%;
    position: relative;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    opacity:1;
    transform: translate(-60%, -60%);

}

.joinbutton {
    color: white;
    background-color: #118DFF;
    position: relative;
    /*padding: 1px;*/
    border-radius:2px;
    margin: 10px;
    
}

.joinbutton p {
    text-align: center;
    font-size: 0.8em;
}

.list_friends_details {
    width: 35px;
    height: 35px;
}

.list_item {
    padding: 3px 18px 3px 18px;
}

.list_friends {
    font-size: 24px;
    letter-spacing: 2px;
}

.list_invite {
    text-align: right;
}

.list_invite_decision {
    width: 150px;
    display: flex;
    justify-content: flex-end;
}

.check_icon {
    width: 30px;
}

.x_icon {
    width: 30px;
    margin-left: 12px;
}

#check {
    color: #27AE60;
}

#x {
    color: #EB5757;
}

#fixed {
    /*position: fixed;*/
}